.header {
  font-family: 'Homemade Apple', cursive;
  display: flex;
  justify-content: center;
  font-family: 'News Cycle', sans-serif;
}

.header-name {
  font-family: 'Homemade Apple', cursive;
  font-weight: bold;
  font-size: 16px;
}

.about-question {
  font-family: 'Homemade Apple', cursive;
}

.portfolio {
  padding: 10px;
  font-family: 'Homemade Apple', cursive;
}

img {
  min-height: 225px;
  max-height: 225px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.thumbnail {
  /*height: 500px;*/
}

.contact-icons {
  float: right;
  font-size: 24px;
  /*margin: 3px;*/
}
